<main class="main" id="cart-list">
  <div class="page-header breadcrumb-wrap">
      <div class="container">
          <div class="breadcrumb">
              <a href="index.html" rel="nofollow">Home</a>
              <span></span> Shop
              <span></span> Your Cart
          </div>
      </div>
  </div>
  <section class="mt-50 mb-50">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="table-responsive">
                      <table class="table shopping-summery text-center clean">
                          <thead>
                              <tr class="main-heading">
                                  <th scope="col">Image</th>
                                  <th scope="col">Title</th>
                                  <th scope="col">Price</th>
                                  <th scope="col">Quantity</th>
                                  <th scope="col">Subtotal</th>
                                  <!-- <th scope="col">Update</th> -->
                                  <th scope="col">Remove</th>
                              </tr>
                          </thead>
                          <tbody>
                            {%  for product_id,item in cart_data.items %}
                              <tr>
                                  <td class="image product-thumbnail"><img src="{{item.image}}" alt="#"></td>
                                  <td class="product-des product-name">
                                      <h5 class="product-name"><a href="{% url 'app1:product-detail' item.pid %}">{{item.title}}</a></h5>
                                     
                                  </td>
                                  <td class="price" data-title="Price"><span>{{item.price|floatformat:2}} </span></td>
                                  <td class="text-center detail-info" data-title="Stock" >
                                      
                                     <!-- <input type="number" class="w-25 product-qty-{{product_id}}" placeholder ="QTY" value="{{item.qty}}"> -->
                                          
                                          <div class="quantity-control">
                                            <button class="quantity-btn" data-action="decrease" data-product-id="{{ product_id }}">-</button>
                                            <input type="number" class="w-25 product-qty-{{ product_id }}" placeholder="QTY" value="{{ item.qty }}" min="1" readonly>
                                            <button class="quantity-btn" data-action="increase" data-product-id="{{ product_id }}">+</button>
                                        </div> 
                                      
                                  </td>
                                  <td class="text-right" data-title="Cart">
                                      <span>{% widthratio item.price 1 item.qty %} </span>
                                  </td> 
                                   <!-- <td class="action" data-title="Remove"><button  class="text-muted update-product" data-product="{{product_id}}"  style="background: none; border: none"><i class="fi-rs-refresh"></i></button></td>  -->
                                  <td class="action" data-title="Remove"><button  class="text-muted delete-product" data-product="{{product_id}}"  style="background: none; border: none"><i class="fi-rs-trash"></i></button></td>
                              </tr>
                              {% endfor %}
                              <tr>
                                  <td colspan="6" class="text-end">
                                      <a href="#" class="text-muted"> <i class="fi-rs-cross-small"></i> Clear Cart</a>
                                  </td>
                              </tr>
                          </tbody>  

                              <!-- new model -->
                              <!-- <tbody>
                                {% for cart_item in cart_items %}
                                    <tr>
                                        <td class="image product-thumbnail">
                                            <img src="{{ cart_item.product.image.url }}" alt="#">
                                        </td>
                                        <td class="product-des product-name">
                                            <h5 class="product-name">
                                                <a href="{% url 'app1:product-detail' cart_item.product.pid %}">
                                                    {{ cart_item.product.title }}
                                                </a>
                                            </h5>
                                        </td>
                                        <td class="price" data-title="Price">
                                            <span>{{ cart_item.product.price|floatformat:2 }}</span>
                                        </td>
                                        <td class="text-center detail-info" data-title="Stock">
                                            <div class="quantity-control">
                                                <button class="quantity-btn" data-action="decrease" data-product-id="{{ cart_item.product.id }}">-</button>
                                                <input type="number" class="w-25 product-qty-{{ cart_item.product.id }}" placeholder="QTY" value="{{ cart_item.quantity }}" min="1" readonly>
                                                <button class="quantity-btn" data-action="increase" data-product-id="{{ cart_item.product.id }}">+</button>
                                            </div>
                                        </td>
                                        <td class="text-right" data-title="Cart">
                                            <span>{{ cart_item.product.price|floatformat:2 }} * {{ cart_item.quantity }} = {{ cart_item.total_price|floatformat:2 }}</span>
                                        </td>
                                        
                                        
                                        <td class="action" data-title="Remove">
                                            <button class="text-muted delete-product" data-product="{{ cart_item.product.id }}" style="background: none; border: none">
                                                <i class="fi-rs-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody> -->
                              <!-- new model -->
                      </table>
                  </div>
                  <div class="cart-action text-end">
                      <!-- <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a> -->
                      <a href="{% url 'app1:index' %}" class="btn text-white"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                  </div>
                  <!-- available coupon -->

                  
                  <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                  <div class="row mb-50">
                      <div class="col-lg-6 col-md-12">

                        <div class="mb-30 mt-50">
                            <div class="heading_s1 mb-3">
                                <h4>Available Coupons</h4>
                            </div>
                            <div class="row">
                                {% for coupon in available_coupons %}
                                    <div class="col-lg-4 mb-3">
                                        <div class="card border-primary">
                                            <div class="card-body">
                                                <h5 class="card-title coupon-code">{{ coupon.code }}</h5>
                                                <p class="card-text">Discount: {{ coupon.discount }}%</p>
                                                <p class="card-text">Expires: {{ coupon.expiry_date }}</p>
                                                <button class="btn btn-primary copy-coupon-button">Copy</button>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                          <div class="mb-30 mt-50">
                              <div class="heading_s1 mb-3">
                                  <h4>Apply Coupon</h4>
                              </div>
                              <div class="total-amount">
                                  <div class="left">
                                      <div class="coupon">
                                        <form action="{% url 'app1:cart' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-row row justify-content-center">
                                                <div class="form-group col-lg-6">
                                                    {{ coupon_form.code }}
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <button type="submit" class="btn btn-sm"><i class="fi-rs-label mr-2"></i>Apply</button>
                                                </div>
                                            </div>
                                        </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-12">
                          <div class="border p-md-4 p-30 border-radius cart-totals">
                              <div class="heading_s1 mb-3">
                                  <h4>Cart Totals</h4>
                              </div>
                              <div class="table-responsive">
                                  <table class="table">
                                      <tbody>
                                          <tr>
                                              <td class="cart_total_label">Cart Subtotal</td>
                                              <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">{{cart_total_amount|floatformat:0}}</span></td>
                                          </tr>
                                          <tr>
                                              <td class="cart_total_label">Shipping</td>
                                              <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                          </tr>
                                          <tr>
                                              <td class="cart_total_label">Total</td>
                                              <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand">${{cart_total_amount|floatformat:0}}</span></strong></td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                              {% if totalcartitems %}
                              <a href="{% url 'app1:checkout' %}" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                              {% endif %}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>