{% for p in products %}
<div class="col-lg-3 col-md-4 col-12 col-sm-6">
  <div class="product-cart-wrap mb-30">
    <div class="product-img-action-wrap">
      <div class="product-img product-img-zoom">
        <a href="{% url 'app1:product-detail' p.pid %}">
          <img class="default-img" src="{{ p.image.url }}" alt="">
        </a>
      </div>
      <div class="product-action-1">
        <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
      </div>
      <div class="product-badges product-badges-position product-badges-mrg">
        <span class="hot">-{{discount_offer.discount_percentage|floatformat:0}}%</span>
      </div>
    </div>
    <div class="product-content-wrap">
      <div class="product-category">
        <a href="{% url 'app1:product-detail' p.pid %}">{{ p.category.title }}</a>
      </div>
      <h2><a href="{% url 'app1:product-detail' p.pid %}">{{ p.title }}</a></h2>
      <div class="rating-result" title="90%">
        <span>
          <span>90%</span>
        </span>
      </div>
      <div class="product-price">
        <span>{{ p.price }} </span>
        <span class="old-price">{{ p.old_price }}</span>
      </div>
      <div class="product-action-1 show">
        <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
