{% extends 'partial/base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> products
                    <span></span> {{product.title}}
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">
                                            <figure class="border-radius-10">
                                                <img src="{{product.image.url}}" alt="product image">
                                            </figure>
                                            {% for p in p_image %}
                                            <figure class="border-radius-10">
                                                <img src="{{p.Images.url}}" alt="product image">
                                            </figure>
                                            {% endfor %}
                                        </div>
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                            <div><img src="{{product.image.url}}" alt="product image"></div>
                                            {% for p in p_image %}
                                            <div><img src="{{p.Images.url}}" alt="product image"></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- End Gallery -->
                                    
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail">{{product.title}}</h2>
                                        <div class="product-detail-rating">
                                            <!-- <div class="pro-details-brand">
                                                <span> Brands: <a href="shop-grid-right.html">Bootstrap</a></span>
                                            </div> -->
                                            <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width:90%">
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                            </div>
                                        </div>

                                        <!-- script for price -->
                                        <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                        <script>
                                            $(document).ready(function () {
                                                $('#size-selection').change(function () {
                                                    var selectedSize = $(this).val();
                                        
                                                    // Show the details for the selected variant
                                                    $('.variant-details').hide();
                                                    var selectedVariant = $('.variant-details[data-size="' + selectedSize + '"]');
                                                    selectedVariant.show();
                                        
                                                    // Update the displayed price based on the selected variant
                                                    if (selectedVariant.length > 0) {
                                                        var variantPrice = selectedVariant.find('.price').text();
                                                        $('.product-price .text-brand').text(variantPrice);
                                                    } else {
                                                        // If the selected size doesn't have a variant, revert to the default product price
                                                        $('.product-price .text-brand').text('{{ product.price }}');
                                                    }
                                        
                                                    // Update the stock count
                                                    $('#stock-count-display').text('Stock Count: ' + selectedVariant.data('stock-count'));
                                                });
                                            });
                                        </script> -->
                                        <!-- ends here -->

                                           {% if variants %}
                                        <div class="clearfix product-price-cover">
                                           {% for variant in variants %}
                                            <div class="product-price primary-color float-left">
                                                <!-- <ins><span class="text-brand" id="selected-variant-price">${{ variant.price }}</span></ins> -->
                                                <!-- <ins><span class="old-price font-md ml-15">{{ product.old_price }}</span></ins>
                                                <span class="save-price font-md color3 ml-15">-{{ product.get_percentage|floatformat:0 }}%</span> -->
                                            </div>
                                            {% endfor  %}
                                        </div>
                                        {% else %} 
                                        <!-- if variants -->
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <!-- <ins><span class="text-brand current-product-price-{{product.id}}">{{product.price}}</span></ins>
                                                <ins><span class="old-price font-md ml-15">{{product.old_price}}</span></ins> -->
                                                {% if discount_offer is not None and discount_offer.active %}
                                                <div class="product-price">
                                                   <span style="font-size: 30px; font-weight:bold" ><span class="current-product-price-{{product.id}} text-success" >{{product.price}}</span></span> 
                                                    <br> <br>
                                                    $<span class="old-price font-md ml-15" style="text-decoration: line-through;">{{product.old_price}}</span>
                                                </div>
                                                {% elif discounted_offer %}
                                                {% for dis in discounted_offer %}
                                                    {% if dis.active and dis.category == product.category %}
                                                        <div class="product-price">
                                                            <span style="font-size: 30px; font-weight:bold">$ <span class="current-product-price-{{product.id}} text-success">{{product.price}}</span></span>
                                                            <br> <br>
                                                            <span class="old-price font-md ml-15" style="text-decoration: line-through;">$ {{product.old_price}}</span>
                                                        </div>
                                                        {% else %}
                                                        <div class="product-price">
                                                            <span style="font-size: 30px; font-weight:bold">$ <span class="current-product-price-{{product.id}} text-success">{{product.price}}</span></span>
                                                            
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <div>
                                                    <span style="font-size: 30px;">
                                                        $<span class="current-product-price-{{product.id}} text-success" style="font-weight: bold;">{{product.price}}</span>
                                                    </span>
                                                </div>
                                            {% endif %}
                                                <br>
                                                <br>
                                            {% if discount_offer is not None and discount_offer.active %}
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot" style="font-weight: bold;">-{{ discount_offer.discount_percentage|floatformat:0 }}% Offer</span>
                                            </div>
                                            {% elif discounted_offer %}
                                            {% for dis in discounted_offer %}
                                                {% if dis.active and dis.category == product.category %}
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot" style="font-weight: bold;">-{{ dis.discount_percentage|floatformat:0 }}% Offer</span>
                                                </div>
                                                    {% else %}
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="hot" style="font-weight: bold;">Hot</span>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot">Hot</span>
                                            </div>
                                        {% endif %}
                                            </div>
                                        </div>
                                         {% endif %} 
                                        <!-- ends here -->
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <p>{{product.description|truncatechars:30}}</p>
                                        </div>
                                       <!-- variant button -->
                                       <!-- {% if variants %}
                                       <div class="size-selection mt-30">
                                           <h4 class="font-lg mb-15">Choose Size:</h4>
                                           <select name="size" id="size-selection" class="form-control" style="border: 1px solid #ccc;" required>
                                               <option value="" selected disabled>Select Size</option>
                                               {% for variant in variants %}
                                                <option value="{{ variant.size }}">{{ variant.size }}</option>
                                                 {% endfor %}
                                           </select>
                                       </div> -->
                                   
                                       <!-- varinat product -->
                                       <!-- {% for variant in variants %}
                                        <div class="variant-details" data-size="{{ variant.size.value }}" style="display: none;">
                                            <p class="stock-count"><strong>Stock Count:</strong> {{ variant.stock_count }}</p>
                                            <p class="price"><strong>Price:</strong> {{ variant.price }}</p> -->
                                            <!-- Add other variant details as needed -->
                                        </div>
                                    <!-- {% endfor %} -->

                                    <!-- {% else %}
                                        <div class="size-selection mt-30">
                                            <h4 class="font-lg mb-15"> Size:</h4>
                                            <select name="size" id="size-selection" class="form-control" style="border: 1px solid #ccc;" required>
                                                <option value="onesize" selected disabled>One Size</option>
                                            </select>
                                        </div>
                                    {% endif %} -->
                               
                               
                                       <!-- till here -->
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-crown mr-5"></i>{{product.warrenty}} Year Warranty</li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i>{{product.return_policy}} day{{product.return_policy|pluralize}} Return Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i>{%if not cod%} 
                                                  Cash on Delivery available
                                                  {%else%}
                                                  Cash on Delivery not available
                                                  {% endif %}
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <input type="number" value="1" name="" id="product-quantity" class="w-25 mb-20 product-quantity-{{product.id}}">
                                        </div>
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink">
                                            <!-- <div class="detail-qty border radius">
                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val">1</span>
                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div> -->
                                            >
                                            <div class="product-extra-link2">
                                              {% if product.stock_count == '0' %}
                                              <button type="submit" class="button button-add-to-cart" disabled>Out Of Stock</button>
                                                {% else %}
                                                <!-- <input type="hidden" value="{{product.id}}"  class="product-id" name="" id="">
                                                <input type="hidden" value="{{product.title}}" class="product-title"  name="" id=""> -->
                                                <!-- <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{product.id}}"> -->
                                                <input type="hidden" class="product-pid-{{product.id}}" value="{{product.pid}}">
                                                <input type="hidden" class="product-image-{{product.id}}" value="{{product.image.url}}">
                                                <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}">
                                                <input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}">

                                               <button type="submit" class="button button-add-to-cart add-to-cart-btn" data-index="{{product.id}}"   id="add-to-cart-btn">Add to cart</button>
                                               <button style="border:none; background: none;" class="add-to-wishlist" data-product-item="{{product.id}}"><i class ="fi-rs-heart" style="fill: aqua;"></i></button>
                                               {% endif %}

                                                <!-- <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a> -->
                                                <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                            </div>
                                        </div>
                                        <ul class="product-meta font-xs color-grey mt-50">
                                            <li class="mb-5">SKU: <a href="#">{{product.sku}}</a></li>
                                            
                                            <li>Availability:<span class="in-stock text-success ml-5">
                                              {% if product.stock_count == '0' %}
                                              <h4>Out Of Stock</h4>
                                              {% else %}
                                              {{product.stock_count}} Item{{product.stock_count|pluralize}} In Stock
                                            </span></li>
                                            {%endif%}
                                        </ul>
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="tab-style3">
                                <ul class="nav nav-tabs text-uppercase">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="Description-tab" data-bs-toggle="tab" href="#Description">Description</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="Additional-info-tab" data-bs-toggle="tab" href="#Additional-info">Additional info</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab" href="#Reviews">Reviews ({{review.count}})</a>
                                    </li>
                                </ul>
                                <div class="tab-content shop_info_tab entry-main-content">
                                    <div class="tab-pane fade show active" id="Description">
                                        <div class="">
                                            <p>{{product.description}}</p>
                                            
                                            <!-- <ul class="product-more-infor mt-30">
                                                <li><span>Type Of Packing</span> Bottle</li>
                                                <li><span>Color</span> Green, Pink, Powder Blue, Purple</li>
                                                <li><span>Quantity Per Case</span> 100ml</li>
                                                <li><span>Ethyl Alcohol</span> 70%</li>
                                                <li><span>Piece In One</span> Carton</li>
                                            </ul> -->
                                            <hr class="wp-block-separator is-style-dots">
                                            
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="Additional-info">
                                        <table class="font-md">
                                            <tbody>
                                                <tr class="stand-up">
                                                    <th>Stand Up</th>
                                                    <td>
                                                        <p>35″L x 24″W x 37-45″H(front to back wheel)</p>
                                                    </td>
                                                </tr>
                                                <tr class="folded-wo-wheels">
                                                    <th>Folded (w/o wheels)</th>
                                                    <td>
                                                        <p>32.5″L x 18.5″W x 16.5″H</p>
                                                    </td>
                                                </tr>
                                                <tr class="folded-w-wheels">
                                                    <th>Folded (w/ wheels)</th>
                                                    <td>
                                                        <p>32.5″L x 24″W x 18.5″H</p>
                                                    </td>
                                                </tr>
                                                <tr class="door-pass-through">
                                                    <th>Door Pass Through</th>
                                                    <td>
                                                        <p>24</p>
                                                    </td>
                                                </tr>
                                                <tr class="frame">
                                                    <th>Frame</th>
                                                    <td>
                                                        <p>Aluminum</p>
                                                    </td>
                                                </tr>
                                                <tr class="weight-wo-wheels">
                                                    <th>Weight (w/o wheels)</th>
                                                    <td>
                                                        <p>20 LBS</p>
                                                    </td>
                                                </tr>
                                                <tr class="weight-capacity">
                                                    <th>Weight Capacity</th>
                                                    <td>
                                                        <p>60 LBS</p>
                                                    </td>
                                                </tr>
                                                <tr class="width">
                                                    <th>Width</th>
                                                    <td>
                                                        <p>24″</p>
                                                    </td>
                                                </tr>
                                                <tr class="handle-height-ground-to-handle">
                                                    <th>Handle height (ground to handle)</th>
                                                    <td>
                                                        <p>37-45″</p>
                                                    </td>
                                                </tr>
                                                <tr class="wheels">
                                                    <th>Wheels</th>
                                                    <td>
                                                        <p>12″ air / wide track slick tread</p>
                                                    </td>
                                                </tr>
                                                <tr class="seat-back-height">
                                                    <th>Seat back height</th>
                                                    <td>
                                                        <p>21.5″</p>
                                                    </td>
                                                </tr>
                                                <tr class="head-room-inside-canopy">
                                                    <th>Head room (inside canopy)</th>
                                                    <td>
                                                        <p>25″</p>
                                                    </td>
                                                </tr>
                                                <tr class="pa_color">
                                                    <th>Color</th>
                                                    <td>
                                                        <p>Black, Blue, Red, White</p>
                                                    </td>
                                                </tr>
                                                <tr class="pa_size">
                                                    <th>Size</th>
                                                    <td>
                                                        <p>M, S</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="Reviews">
                                        <!--Comments-->
                                        <div class="comments-area">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <h4 class="mb-30">Customer questions & answers</h4>
                                                    <div class="comment-list" id="reviews-container">
                                                        {% if review  %}
                                                        {% for r in review  %}
                                                        <div class="single-comment justify-content-between d-flex">
                                                            
                                                            <div class="user justify-content-between d-flex">
                                                                <div class="thumb text-center">
                                                                    {% if r.user.userdetails.image %}
                                                                        <img src="{{ r.user.userdetails.image.url }}" alt="{{ r.user.username }}'s Image">
                                                                    {% else %}
                                                                        <img src="{% static 'assets/imgs/page/avatar-6.jpg' %}" alt="Default Image">
                                                                    {% endif %}
                                                                    <h6><a href="#">{{r.user.username}}</a></h6>
                                                                    <!-- <p class="font-xxs">Since 2012</p> -->
                                                                </div>
                                                                <div class="desc">
                                                                    <div class="product d-inline-block">
                                                                        {% if r.rating == 1 %}
                                                                            <p>⭐☆☆☆☆</p>
                                                                        {% elif r.rating == 2 %}
                                                                            <p>⭐⭐☆☆☆</p>
                                                                        {% elif r.rating == 3 %}
                                                                            <p>⭐⭐⭐☆☆</p>
                                                                        {% elif r.rating == 4 %}
                                                                            <p>⭐⭐⭐⭐☆</p>
                                                                        {% elif r.rating == 5 %}
                                                                            <p>⭐⭐⭐⭐⭐</p>
                                                                        {% endif %}
                                                                    </div>
                                                                    <p>{{r.review}}</p>
                                                                    <div class="d-flex justify-content-between">
                                                                        <div class="d-flex align-items-center">
                                                                            <p class="font-xs mr-30">{{r.date}} </p>
                                                                            {% if request.user.is_authenticated %}
                                                                            <a href="{% url 'app1:reviewedit' r.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                                        {% endif %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                           
                                                        </div>
                                                        {%  endfor %}
                                                        {% else %}
                                                        <p>No reviews yet</p>
                                                       {% endif  %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <h4 class="mb-30">Customer reviews</h4>
                                                    <div class="d-flex mb-30">
                                                        <div class="product-rate d-inline-block mr-15">
                                                            <div class="product-rating" style="width:90%">
                                                            </div>
                                                        </div>
                                                        <h6>{{average_rating.rating|floatformat:1}} out of 5</h6>
                                                    </div>
                                                    <div class="progress">
                                                        <span>5 star</span>
                                                        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                                    </div>
                                                    <div class="progress">
                                                        <span>4 star</span>
                                                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                                    </div>
                                                    <div class="progress">
                                                        <span>3 star</span>
                                                        <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                                                    </div>
                                                    <div class="progress">
                                                        <span>2 star</span>
                                                        <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                                                    </div>
                                                    <div class="progress mb-30">
                                                        <span>1 star</span>
                                                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                                    </div>
                                                    <a href="#" class="font-xs text-muted">How are ratings calculated?</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--comment form-->
                                        {% if has_purchased %}
                                        <div class="comment-form">
                                            <h4 class="mb-15 add-review">Add a review</h4>
                                            
                                                <strong class="text-success" id="review-res"></strong>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-8 col-md-12">
                                                    <form class="form-contact comment_form hide-comment-form" action="{% url 'app1:ajax-add-review' product.id   %}" id="commentForm" method="POST">
                                                        {% csrf_token  %}
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    {{review_form.review}}
                                                                   
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    {{review_form.rating}}
                                                                 
                                                                </div>
                                                            </div>
                                                          
                                                        <div class="form-group">
                                                            <button type="submit" class="button button-contactForm">Submit
                                                                Review</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                       
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row mt-60">
                                <div class="col-12">
                                    <h3 class="section-title style-1 mb-30">Related products</h3>
                                </div>
                                <div class="col-12">
                                    <div class="row related-products">
                                      {% for prod in products %}
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                          
                                            <div class="product-cart-wrap small hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="{% url 'app1:product-detail' prod.pid%}" tabindex="0">
                                                            <img class="default-img" src="{{prod.image.url}}" alt="">
                                                            <img class="hover-img" src="{{prod.image.url}}" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal
"><i class="fi-rs-search"></i></a>
                                                        <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    {% if discount_offer is not None and discount_offer.active %}
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot" style="font-weight: bold;">-{{ discount_offer.discount_percentage|floatformat:0 }}% Offer</span>
                                            </div>
                                            {% elif discounted_offer %}
                                            {% for dis in discounted_offer %}
                                                {% if dis.active and dis.category == product.category %}
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot" style="font-weight: bold;">-{{ dis.discount_percentage|floatformat:0 }}% </span>
                                                </div>
                                                    {% else %}
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="hot" style="font-weight: bold;">Hot</span>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot">Hot</span>
                                            </div>
                                        {% endif %}
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="{% url 'app1:product-detail' prod.pid%}" tabindex="0">{{prod.title}}</a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span>
                                                        </span>
                                                    </div>
                                                    {% if discount_offer is not None and discount_offer.active %}
                                                <div class="product-price">
                                                   <span style="font-size: 30px; font-weight:bold" ><span class="current-product-price-{{product.id}} text-success" >{{prod.price}}</span></span> 
                                                    <br> <br>
                                                    $<span class="old-price font-md ml-15" style="text-decoration: line-through;">{{prod.old_price}}</span>
                                                </div>
                                                {% elif discounted_offer %}
                                                {% for dis in discounted_offer %}
                                                    {% if dis.active and dis.category == product.category %}
                                                        <div class="product-price">
                                                            <span style="font-size: 20px; font-weight:bold">$ <span class="current-product-price-{{product.id}} text-success">{{prod.price}}</span></span>
                                                            
                                                            <span class="old-price font-md ml-15" style="text-decoration: line-through;">$ {{prod.old_price}}</span>
                                                        </div>
                                                        {% else %}
                                                        <div class="product-price">
                                                            <span style="font-size: 20px; font-weight:bold">$ <span class="current-product-price-{{product.id}} text-success">{{prod.price}}</span></span>
                                                            
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <div>
                                                    <span style="font-size: 30px;">
                                                        $<span class="current-product-price-{{product.id}} text-success" style="font-weight: bold;">{{prod.price}}</span>
                                                    </span>
                                                </div>
                                            {% endif %}
                                                </div>
                                            </div>
                                            
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="banner-img banner-big wow fadeIn f-none animated mt-50">
                                <img class="border-radius-10" src="{% static 'assets/imgs/banner/banner-4.png' %}" alt="">
                                <div class="banner-text">
                                    <h4 class="mb-15 mt-40">Repair Services</h4>
                                    <h2 class="fw-600 mb-20">We're an Apple <br>Authorised Service Provider</h2>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                            <ul class="categories">
                              {% for c in category %}
                                <li><a href="{% url 'app1:category-product-list' c.cid  %}">{{c.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Fillter By Price -->
                        <!-- <div class="sidebar-widget price_range range mb-30">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">Fill by price</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <div class="price-filter">
                                <div class="price-filter-inner">
                                    <div id="slider-range"></div>
                                    <div class="price_slider_amount">
                                        <div class="label-input">
                                            <span>Range:</span><input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            </div>
                            <a href="shop-grid-right.html" class="btn btn-sm btn-default"><i class="fi-rs-filter mr-5"></i> Fillter</a>
                        </div> -->
                        <!-- Product sidebar Widget -->
                        
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
   
    <!-- script for ajax -->

     

   {% endblock %}