{% extends 'adminside/base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block  body %}


<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Dashboard </h2>
            <p>Whole data about your business here</p>
        </div>
        <div>
            <a href="{% url 'admindash:sales_report' %}" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create report</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Revenue</h6>
                        <span>${{revenue}}</span>
                        
                    </div>
                </article>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Orders</h6> <span>{{orders_count}}</span>
                    </div>
                </article>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Products</h6> <span>{{product_count}}</span>
                        
                    </div>
                </article>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Users</h6> <span>{{total_users_count}}</span>
                        
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="dashboard-menu">
                
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="daily_report-tab" data-bs-toggle="tab" href="#daily_report" role="tab" aria-controls="daily_report" aria-selected="true"><i class="fi-rs-settings-sliders mr-2"></i>Daily Report</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="monthly_report-tab" data-bs-toggle="tab" href="#monthly_report" role="tab" aria-controls="monthly_report" aria-selected="false"><i class="fi-rs-shopping-bag mr-2"></i>Monthly Report</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="yearly_report-tab" data-bs-toggle="tab" href="#yearly_report" role="tab" aria-controls="yearly_report" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-2"></i>Yearly Report</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="tab-content dashboard-content">
                    <div class="tab-pane fade active show" id="daily_report" role="tabpanel" aria-labelledby="daily_report-tab">
                        <div class="card mb-4">
                            <article class="card-body">
                                <h5 class="card-title">Daily Sale Report</h5>
                                <canvas id="myChart"></canvas>
                            </article>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="monthly_report" role="tabpanel" aria-labelledby="monthly_report-tab">
                        <div class="card mb-4">
                            <article class="card-body">
                                <h5 class="card-title">Monthly Sale Report</h5>
                                <canvas id="monthlyChart"></canvas>
                            </article>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="yearly_report" role="tabpanel" aria-labelledby="yearly_report-tab">
                        <div class="card mb-4">
                            <article class="card-body">
                                <h5 class="card-title">Yearly Sale Report</h5>
                                <canvas id="yearlyChart"></canvas>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="card">
                    <article class="card-body">
                        <h5 class="card-title">Order Report</h5>
                        <canvas id="orderStatusChart"></canvas>
                    </article>
                </div>
            </div> -->
        </div>
        
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <h4 class="card-title">Latest 5 orders</h4>
            <div class="row align-items-center">
               
               
            </div>
        </header>
        <div class="card-body">
            <div class="table-responsive">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Total</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>
                                <th scope="col" class="text-end"> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in last_orders %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td><b>{{ order.user.username }}</b></td>
                                <td>{{ order.user.email }}</td>
                                <td>${{ order.price }}</td>
                                <td>
                                    <span class="badge rounded-pill
                                        {% if order.product_status == 'Processing' %}
                                            bg-primary
                                        {% elif order.product_status == 'Shipped' %}
                                            bg-info
                                        {% elif order.product_status == 'Delivered' %}
                                            bg-success
                                        {% elif order.product_status == 'Cancelled' %}
                                            bg-danger
                                        {% else %}
                                            bg-secondary
                                        {% endif %}
                                    ">{{ order.product_status }}</span>
                                </td>
                                <td>{{ order.order_date }}</td>
                                <td class="text-end">
                                    <a href="{% url 'admindash:admin-order-detail'  order.id%}"> View</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> <!-- table-responsive end// -->
        </div>
    </div>
    
</section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>


    const date = {{ dates|safe }};
   
    const count = {{ counts|safe }};
  
  
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
    labels: date,
    datasets: [{
        label: 'Daily Sales Report',
        data: count,
        borderWidth: 1
    }]
},
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<script>


    const monthlydates = {{ monthlyDates|safe }};
    const monthlycounts = {{ monthlyCounts|safe }};
  
  const mctx = document.getElementById('monthlyChart');

  new Chart(mctx, {
    type: 'bar',
    data: {
    labels: monthlydates,
    datasets: [{
        label: 'Monthly Sales Report',
        data: monthlycounts,
        borderWidth: 1
    }]
},
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
<script>


    const yearlydates = {{ yearlyDates|safe }};
    console.log(yearlydates)
    const yearlycounts = {{ yearlyCounts|safe }};
    console.log(yearlycounts);
  
  const yctx = document.getElementById('yearlyChart');

  new Chart(yctx, {
    type: 'bar',
    data: {
    labels: yearlydates,
    datasets: [{
        label: 'Yearly Sales Report',
        data: yearlycounts,
        borderWidth: 1
    }]
},
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>


<script>
    const statuses  = {{ stat|safe}};
    const orderCounts = {{ order_counts|safe}};

    const pctx = document.getElementById('orderStatusChart').getContext('2d');

    new Chart(pctx, {
        type: 'bar',
        data: {
            labels: statuses,
            datasets: [{
                label: 'Order Status',
                data: orderCounts,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(153, 102, 255, 0.5)',
                    // Add more colors if needed
                ],
                borderWidth: 1
            }]
        },
        options: {
           
        }
    });
</script>




{% endblock %}