{% extends 'adminside/base.html' %}
{% load static %}
{% block title %} Product list {% endblock %}
{% block  body %}

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Coupon List</h2>
            
        </div>

        <div class="alert alert-danger" id="myAlert">
          {% if messages %}
          {% for message in messages %}
          {{message}}
          {% endfor %}
          {% endif %}
        </div>
        <script>
          // Add a script to hide the alert after 3 seconds
          setTimeout(function() {
            var alert = document.getElementById('myAlert');
            if (alert) {
              alert.style.display = 'none';
            }
          }, 3000);  // 3000 milliseconds = 3 seconds
        </script>


        <div>

            <a href="{% url 'admindash:create-coupon'  %}" class="btn btn-primary btn-sm rounded">Create new</a>
        </div>
    </div>
    <div class="card mb-4">
       
        <div class="card-body">
            
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Discount</th>
                                        <th>Active</th>
                                        <!-- <th>Status</th>
                                        <th>Sale Price</th>                                    
                                        <th class="text-end">Stock Quantity</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><p>Click to view details</p></tr>
                                    
                                    {% for c in coupon %}
                                    <tr>
                                        <td><a href="{% url 'admindash:edit-coupon' c.pk %}">
                                            {{c.code}}
                                          </a>
                                        </td>
                                       
                                        <td><a href="{% url 'admindash:edit-coupon' c.pk %}"> <h6 class="mb-0">{{ c.discount}}%</h6></a></td>
                                        
                                        <td><a href="{% url 'admindash:edit-coupon' c.pk %}"> <h6 class="mb-0">{% if c.active %} <span style="color: rgb(143, 143, 39);">Active</span>  {% else %} <span style="color: rgb(120, 40, 40);">Inactive</span> {%endif %}</h6></a></td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
            
                        
        
             <!-- itemlist  .// -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    
</section> 
<br/><br/>




{% endblock %}