{% extends 'adminside/base.html' %}
{% load static %}
{% block title %} Product list {% endblock %}
{% block  body %}
    <main class="main">
        
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            
                            <div class="col-md-12">
                                
                                    <div class="tab-pane " id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card mb-10">
                                            <div class="card-header">
                                                <h5 class="mb-0"> Order List</h5>
                                            </div>
                                            {% for message in messages  %}
                                            {{message}}
                                            {% endfor  %}
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table wide-table" >
                                                        <thead>
                                                            <tr class="p-5">
                                                                <th>User Email</th>
                                                                <th>Order</th>
                                                                <th>Date</th>
                                                                <th>Paid Status</th>
                                                                <th>Product Status</th>
                                                                <th>Total</th>
                                                                
                                                                <th>More options</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                         
                                                          {% for o in orders  %}
                                                            <tr>
                                                                <td>{{o.user}}</td>
                                                                <td>INVOICE_NO-{{o.id}}</td>
                                                                <td>{{o.order_date}}</td>
                                                                {% if o.paid_status %}
                                                                <td><span class="text-success">Payment Received</span></td>
                                                                {% else %}
                                                                <td class="text-danger" >COD</td>
                                                                {% endif %}
                                                                <td><div class="d-flex">
                                                                    <div>
                                                                    <form method="post" action="{% url 'admindash:update-product-status' o.id  %}">
                                                                    {% csrf_token %}
                                                                        
                                                                 <!-- {{o.product_status}} -->
                                                                 <select name="product_status" id="product_status" {% if o.product_status == 'cancelled' %}disabled{% endif %}>
                                                                    <option value="pending" {% if o.product_status == 'processing' %}selected{% endif %}>Processing</option>
                                                                    <option value="shipped" {% if o.product_status == 'shipped' %}selected{% endif %}>Shipped</option>
                                                                    <option value="delivered" {% if o.product_status == 'delivered' %}selected{% endif %}>Delivered</option>
                                                                    <option value="cancelled" {% if o.product_status == 'cancelled' %}selected{% endif %}>cancelled</option>
                                                                    <!-- Add other options as needed -->
                                                                </select>
                                                                </div>
                                                                <div>
                                                                <button type="submit">✔</button>
                                                            </div>
                                                        </div>
                                                                </form>
                                                            </td>
                                                                <td>{{o.price}}</td>
                                                                
                                                                <td><a href="{% url 'admindash:admin-order-detail'  o.id%}" class="btn-small d-block">View</a></td>
                                                                {% if o.product_status == 'cancelled'  %}
                                                                <td><a href=""class="btn-small" disabled >Cancelled</a></td>
                                                                {% else  %}
                                                                <td><a href="{% url 'admindash:admin-cancel-order' o.id  %}" class="btn-small">Cancel</a></td>
                                                                {% endif  %}
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                        
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <br><br>
    {% if orders.has_previous %}
<a href="?page=1">&laquo First</a>
<a href="?page={{orders.previous_page_number}}">Previous</a>


{%  endif %}
Page {{orders.number}} of {{orders.paginator.num_pages}}
{% if orders.has_next %}
<a href="?page={{orders.next_page_number}}">Next</a>
<a href="?page={{orders.paginator.num_pages}}">Last  &raquo</a>

{% endif %}






{% endblock %}
   